<div class="page-wrapper">
    <div class="authentication-box">
        <div class="container">
            <div class="row justify-content-md-center">
                <div class="col-md-7 p-0 card-right">
                    <div class="card tab2-card">
                        <div class="card-body ">
                            <ngb-tabset class="tab-coupon mb-0">
                                <ngb-tab>
                                    <ng-template ngbTabTitle><i class="icon-user mr-2"></i>Login</ng-template>
                                    <ng-template ngbTabContent>
                                        <div class="tab-pane fade active show" id="account" role="tabpanel"
                                            aria-labelledby="account-tab">
 
                                           <!-- <mat-spinner *ngIf="isLoading"></mat-spinner> -->
                                            <form (submit)="onLogin(loginForm)"   #loginForm="ngForm" 
                                                class="form-horizontal auth-form" novalidate="">
                                                <div  >
                                                    <mat-form-field>
                                                        <input matInput  name="email" ngModel type="email"
                                                             placeholder="Username"
                                                            #emailInput="ngModel"  required email>
                                                            <mat-error *ngIf="emailInput.invalid">please enter a valid email</mat-error>
                                                    </mat-form-field> 
                                                </div>
                                                <div>
                                                    <mat-form-field>
                                                        <input matInput   name="password" ngModel type="password"
                                                             placeholder="password"
                                                            #passwordInput="ngModel"  required >
                                                            <!-- <mat-error *ngIf="passwordInput.invalid">please enter a valid email</mat-error> -->
                                                    </mat-form-field>
                                                </div>
                                                <div class="form-terms">
                                                    <div class="custom-control custom-checkbox mr-sm-2">
                                                        <input type="checkbox" class="custom-control-input"
                                                            id="customControlAutosizing">
                                                        <label class="custom-control-label"
                                                            for="customControlAutosizing">Remember me</label>
                                                        <a href="javascript:void(0)"
                                                            class="btn btn-default forgot-pass">lost your
                                                            password</a>
                                                    </div>
                                                </div>
                                                <div class="d-flex justify-content-between">
                                                    <button style="color: red; margin-top: 15px;" class="btn btn-link" type="button" [routerLink]="['/auth/register']">Register</button>
                                                    <button class="btn btn-primary" type="submit">Login</button>
                                                </div>
                                                <div class="form-button">
                                                    
                                                </div>
                                                <!-- <div class="form-footer">
                                                    <span>Or Login up with social platforms</span>
                                                    <ul class="social">
                                                        <li><a class="icon-facebook" href="javascript:void(0)"></a></li>
                                                        <li><a class="icon-twitter" href="javascript:void(0)"></a></li>
                                                        <li><a class="icon-instagram" href="javascript:void(0)"></a>
                                                        </li>
                                                        <li><a class="icon-pinterest" href="javascript:void(0)"></a>
                                                        </li>
                                                    </ul>
                                                </div> -->
                                            </form>
                                        </div>
                                    </ng-template>
                                </ngb-tab>
                               
                            </ngb-tabset>
                        </div>
                    </div>
                </div>
            </div>
            <a [routerLink]="'/dashboard/default'" class="btn btn-primary back-btn">
                <app-feather-icons [icon]="'arrow-left'"></app-feather-icons>
                back
            </a>
        </div>
    </div>
</div>