
<p-toast></p-toast>

<div class="AjouterClient">
    <p-card [header]="editmode ? 'modifier client' :' Ajouter client' " subheader="Ajouter Un Client" >
            <div class="p-grid">
             <div class="p-col-12">
                <p-toolbar >
                <div class="p-toolbar-group-left"></div>
                <div class="p-toolbar-group-right">
                    <p-button (click)="onSubmit()" [label]="editmode ? 'Modifier' : 'Ajouter'" icon="pi pi-plus" styleClass="p-button-primary p-mr-2"></p-button>
                    <p-button routerLink="/users/list-user" label="retour" icon="pi pi-arrow-circle-left" styleClass="p-button-success"></p-button>
                </div>
                </p-toolbar>   
             </div>
            </div>

            <div class="p-grid">
                <div class="p-col-12">
                    <div class="card-body tab2-card">
                                        <ngb-tabset class="tab-coupon">
                                            <ngb-tab title="Client Physique">
                                                <ng-template ngbTabContent>                                                                                                                                        <div class="tab-pane fade active show" id="account" role="tabpanel"
                                                            aria-labelledby="account-tab">
                                                         <form [formGroup]="ajouterClient" >
                                                            <div class="p-fluid p-formgrid p-grid">
                                                                <div class="p-field p-col-12 p-md-4">
                                                                    <label>Ref Client</label>
                                                                    <input matInput type="number" formControlName="refclient" pInputText> 
                                                                </div>
                                                                <div class="p-field p-col-12 p-md-4">
                                                                    <label>Nom</label>
                                                                    <input matInput type="text" formControlName="nom" pInputText> 
                                                                </div>
                                                                <div class="p-field p-col-12 p-md-4">
                                                                    <label>Prénom</label>
                                                                    <input matInput type="text" formControlName="prenom" pInputText> 
                                                                </div>
                                                                <div class="p-field p-col-12 p-md-4">
                                                                    <label>Adresse Personel</label>
                                                                    <input matInput type="text" formControlName="adressepreso" pInputText> 
                                                                </div>
                                                                <div class="p-field p-col-12 p-md-4">
                                                                    <label>Zip</label>
                                                                    <input matInput type="text" formControlName="codepostal" pInputText> 
                                                                </div>
                                                                <div class="p-field p-col-12 p-md-4">
                                                                    <label>Ville</label>
                                                                    <input matInput type="text" formControlName="ville" pInputText> 
                                                                </div> 
                                                                <div class="p-field p-col-12 p-md-12">
                                                                    <label>Adresse Laivraison</label>
                                                                    <input matInput type="text" formControlName="adresselaivraison" pInputText> 
                                                                </div>
                                                                <div class="p-field p-col-12 p-md-6">
                                                                    <label>Fonction</label>
                                                                    <input matInput type="text" formControlName="fonction" pInputText> 
                                                                </div>
                                                                <div class="p-field p-col-12 p-md-6">
                                                                    <label>Genre</label>
                                                                    <input matInput type="text" formControlName="genre" pInputText> 
                                                                </div>
                                                                <div class="p-field p-col-12 p-md-6">
                                                                    <label>Nb D'enfants</label>
                                                                    <input matInput type="number" formControlName="Nbenfant" pInputText> 
                                                                </div>
                                                                <div class="p-field p-col-12 p-md-6">
                                                                    <label>Date De Naissance</label>
                                                                    <input matInput type="date" formControlName="datenaiss" pInputText> 
                                                                </div>
                                                            </div>
                                                        </form>
                                                    </div>
                                                </ng-template>
                                            </ngb-tab>
                    
                                            <ngb-tab title="Client Moral">
                                               
                                            </ngb-tab>
                                            
                                        </ngb-tabset>
                                        
                                        <div class="pull-right">
                                            <button type="button"  class="btn btn-success">enregistrer</button>
                                        </div>
                    </div>
                        
                    

                </div>
                

            </div>    
    </p-card>
    
</div>
    


    
    
    
    






<!-- Container-fluid Ends-->
